*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.05);
}